html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

main {
  padding: 1rem;
  flex-grow: 1;
}

a {
  color: blue;
}

header {
  padding-left: 0.5rem;
}

h1 {
  margin: 1rem 0;
  font-family: monospace;
}

footer {
  padding: 2rem 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

table.directory {
  text-align: left;
}

table.directory thead {
  font-family: monospace;
}

table.directory thead th,
table.directory td {
  padding: 0.5rem;
}

table.directory time {
  color: slategray;
  font-size: 0.7rem;
}

table.directory .filepath {
  min-width: 100px;
  font-family: monospace;
  font-size: 0.85rem;
}

table.directory .tag {
  display: inline-block;
  margin-right: 0.25rem;
}
