@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

/* Top left */
#header-left {
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

/* .logo {
  margin-right: 0.5rem;
}

.logo img {
  height: 30px;
  width: 30px;
} */

.author {
  font-size: 0.75rem;
}

.author a {
  text-decoration: none;
}

.author a:hover {
  text-decoration: underline;
}

.title {
  font-size: 1.2rem;
}

/* Top right */
#header-right {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
}

/* Bottom left */
#footer-left {
  position: absolute;
  bottom: 0%;
  left: 0%;
  margin: 0.5rem;
}

#open-notes {
  background: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  opacity: 0;
  transition: opacity 250ms;
}

#open-notes:hover {
  opacity: 1;
}
