<div id="auth">

  <button id="sign-in" class="flex action dim action-spacer" aria-label="Sign in" title="Sign in">
    {{ partial "icons/user.svg" }}
  </button>

  <div id="firebase-ui" style="display:none;" tabindex="0" aria-hidden="true">
    <button id="firebase-ui-close" class="flex action dim action-spacer" aria-label="Close" title="Close">
      {{ partial "icons/x.svg"}}
    </button>
  </div>

  <button id="sign-out" class="flex action dim action-spacer" style="display:none;" aria-label="Sign out"
    title="Sign out">
    <div id="username" style="display:none;"></div>
    <div id="user-icon" class="flex">
      <div class="flex sign-out-icon">
        {{ partial "icons/log-out.svg" }}
      </div>
    </div>
  </button>

</div>