<div style="display:none;" aria-hidden="true">
  <div id="header" class="no-print">
    <div id="header-left">
      <div class="flex-column">
        <div class="author">
          {{ if .Site.Params.Author.Homepage }}
          <a href="{{ .Site.Params.Author.Homepage }}" target="__blank" rel="noopener noreferrer">
            {{ if .Site.Params.Author.Name }}
            {{ .Site.Params.Author.Name }}
            {{ else }}
            {{ .Site.Title }}
            {{ end }}
          </a>
          {{ end }}
        </div>
        <div class="title">
          {{ .Title }}
        </div>
      </div>
    </div>
    <!-- <div id="header-right">HEADER-RIGHT</div> -->
    <div id="footer-left">
      <button id="open-notes" aria-label="Open presentation notes">
        {{ partial "icons/file-text.svg" }}
      </button>
    </div>
  </div>
</div>
</div>