<table class="directory">
  <thead>
    <tr>
      <th class="column-date">lastmod</th>
      <th class="column-name">name</th>
      <th class="column-subject desktop-cell">subject</th>
      <th class="column-tags">tags</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr class="fields">
      <td>
        {{ with .Lastmod }}
        <time>{{ dateFormat "Jan 2, 2006" . }}</time>
        {{ end }}
      </td>
      <td class="filepath">
        <a href="{{ .URL }}">{{ .File.Dir }}{{.File.BaseFileName}}</a>
      </td>
      <td class="desktop-cell subject">
        {{ with .Description }}
        <i>
          {{ . }}
        </i>
        {{ end }}
      </td>
      <td>
        {{ if .Params.tags }}
        {{ range .Params.tags }}
        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
        {{end}}
        {{ end }}
      </td>
    </tr>

    <tr class="mobile-row">
      <td></td>
      <td colspan="2" class="mobile-subject">
        <i>
          {{ with .Description }}
          {{ . }}
          {{ else }}
          {{ .Summary}}
          {{ end }}
        </i>
      </td>
    </tr>
    {{ end }}
  </tbody>
</table>