<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>{{ .Title }}{{ with .Site.Params.Author.Name }} - {{ . }}{{ end }}</title>
  {{ with $.Param "description" }}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ with .Site.Author.name }}
  <meta name="author" content="{{ . }}">
  {{ end }}

  <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}favicon.ico" />

  {{ $main_css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $main_css.RelPermalink }}">
  {{ $auth_css := resources.Get "css/auth.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $auth_css.RelPermalink }}">


  {{ $themes_css := resources.Get "bundle/css/themes.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $themes_css.RelPermalink }}">
</head>