{{ $reset_css := "reveal-js/css/reset.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $reset_css }}">

{{ $reveal_css := "reveal-js/css/reveal.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $reveal_css }}">

{{ if (isset .Page.Params.revealjs "theme") }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}reveal-js/css/theme/{{ .Page.Params.revealjs.theme }}.css">
{{ else if (isset .Site.Params.revealjs "theme") }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}reveal-js/css/theme/{{ .Site.Params.revealjs.theme }}.css">
{{ else }}
{{ $theme_css_default := "reveal-js/css/theme/white.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $theme_css_default }}">
{{ end }}

{{ if (isset .Page.Params.highlightjs "theme") }}
{{ $theme := .Page.Params.highlightjs.theme }}
{{ $resource_path := printf "highlight-js/%s.css" $theme }}
{{ $highlight_theme_css := resources.Get $resource_path | minify | fingerprint }}
<link rel="stylesheet" href="{{ $highlight_theme_css.RelPermalink }}">
{{ else if (isset .Site.Params.highlightjs "theme") }}
{{ $theme := .Site.Params.highlightjs.theme }}
{{ $resource_path := printf "highlight-js/%s.css" $theme }}
{{ $highlight_theme_css := resources.Get $resource_path | minify | fingerprint }}
<link rel="stylesheet" href="{{ $highlight_theme_css.RelPermalink }}">
{{ else }}
{{ $highlight_theme_css := resources.Get "highlight-js/a11y-dark.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $highlight_theme_css.RelPermalink }}">
{{ end }}


{{ $slides_css := resources.Get "css/slides.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $slides_css.RelPermalink }}">

<!--[if lt IE 9]>
<script src="reveal-js/lib/js/html5shiv.js"></script>
<![endif]-->