{{ $reset := "reveal-js/css/reset.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $reset }}">

{{ $reveal := "reveal-js/css/reveal.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $reveal }}">

{{ $theme := "reveal-js/css/theme/black.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $theme }}">

{{ $highlight_theme := resources.Get "highlight-js/default.min.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $highlight_theme.RelPermalink }}">


{{ $print := "reveal-js/css/print/paper.css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}{{ $print }}">

{{ $slides := resources.Get "css/slides.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $slides.RelPermalink }}">