<div id="auth">

  <button id="sign-in" class="flex action dim spacer-left" aria-label="Sign in" title="Sign in">
    {{ partial "icons/user.svg" }}
  </button>

  <div id="firebase-ui" style="display:none;" class="no-print dropdown flex column" tabindex="0" aria-hidden="true">
    <div>
      <button id="firebase-ui-close" class="flex action dim spacer-left" aria-label="Close" title="Close">
        {{ partial "icons/x.svg"}}
      </button>
    </div>
  </div>

  <div class="relative">
    <button id="user-menu" class="dim flex action spacer-left" style="display:none;" aria-label="User menu"
      title="User menu">
      <div id="username" class="spacer-right nowrap" style="display:none;"></div>
      <div id="user-icon" class="flex">
      </div>
    </button>

    <div id="user-dropdown" style="display:none;" class="dropdown" aria-hidden="true">
      <button id="open-notes" class="flex action dropdown-item" aria-label="Open presentation notes" title="Notes">
        <div class="spacer-right nowrap">Notes</div>
        <div class="icon-sm">
          {{ partial "icons/file-text.svg" }}
        </div>
      </button>
      <button id="sign-out" class="flex action dropdown-item">
        <div class="spacer-right nowrap">Sign out</div>
        <div class="icon-sm">
          {{ partial "icons/log-out.svg" }}
        </div>
      </button>
    </div>
  </div>

  <button id="sync" style="display:none;" checked="false" class="flex action dim spacer-left" aria-label="Sync"
    title="Sync">
    {{ partial "icons/zap.svg" }}
  </button>

</div>